<section class="left-panel">
    <img src="/images/left-couple.jpg" alt="Imam Nandira" class="left-image" />
    <div class="left-overlay"></div>

    <div class="left-content">
        <h2 class="left-title">IMAM NANDIRA</h2>
    </div>
</section>