<div id="splashScreen" class="splash">
    <div class="splash-bg"></div>

    <div class="splash-content">
        <div class="splash-title">THE WEDDING OF</div>

        <div class="splash-image" id="imageContainer"></div>

        <div class="splash-name">
            CERIA & RIZKY
        </div>
    </div>

    <div class="splash-loading">
        <span class="loading-label">LOADING</span>
        <span id="progressText">0%</span>
    </div>
</div>