<div class="closing-section">
    <div class="closing-content">
        <p class="closing-thank-you">THANK YOU</p>
        <div class="closing-divider"></div>
        <h2 class="closing-names">Imam & Nandira</h2>
        <p class="closing-date">09 . 12 . 202X</p>
    </div>

    <div class="closing-image-wrapper">
        <img src="/images/closing-photo.jpg" alt="Imam & Nandira" class="closing-img">
    </div>
</div>