<!-- views/components/closing.ejs -->
<section class="closing-section">
    <!-- Background Utama Full Screen -->
    <div class="closing-bg-image"></div>
    <div class="closing-overlay"></div>

    <div class="closing-content-wrapper">
        <div class="closing-text-box">
            <p class="closing-thank-you">THANK YOU FOR YOUR ATTENDANCE</p>
        </div>
        <div class="closing-message">
            <p class="closing-message-text">
                It is a pleasure and honor for us, if you are willing to attend and give us your blessing.
            </p>
            <h2 class="closing-names">Ceria & Rizky</h2>
        </div>
        <div class="closing-footer">
            <p class="closing-footer-text">#lovesinCERIty</p>
            <p class="closing-footer-text">#CERImonytoforever</p>
        </div>
    </div>
</section>