<div class="dresscode-section">
    <div class="section-header">
        <h2 class="section-title">DRESSCODE</h2>
        <p class="dresscode-desc">
            To add to the beauty of our special day, we kindly invite you to wear outfits in these color tones:
        </p>
    </div>

    <div class="color-palette">
        <div class="color-item">
            <div class="color-circle" style="background-color: #2D3027;"></div>
            <span>Deep Forest</span>
        </div>
        <div class="color-item">
            <div class="color-circle" style="background-color: #7D7D72;"></div>
            <span>Sage Grey</span>
        </div>
        <div class="color-item">
            <div class="color-circle" style="background-color: #D6D2C4;"></div>
            <span>Warm Sand</span>
        </div>
        <div class="color-item">
            <div class="color-circle" style="background-color: #EFEFEF;"></div>
            <span>Off White</span>
        </div>
    </div>
</div>