<!-- views/components/groom-info.ejs -->
<section class="couple-info-section groom-page">
    <div class="couple-bg-image"></div>
    <div class="couple-overlay"></div>

    <div class="couple-content-wrapper taos:translate-y-[100px] taos:opacity-0" data-taos-animation="true"">
        <div class=" section-header">
        <h2 class="section-title">THE GROOM</h2>
    </div>

    <div class="couple-details">
        <h3 class="name">Rizky Febriyanto Putra, S.T</h3>
        <p class="description">The first son of
            <br> Mr. Agus Siswanto and Mrs. Dra. Endang Retno Wulansih
        </p>
        <a href="https://www.instagram.com/rizkyfp19?igsh=YjlhMXo0OHprcjNq&utm_source=qr" class="instagram-link">
            <svg width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path
                    d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.999 0h.001zm-.512 1.435c.821-.037 1.059-.044 3.083-.044 2.024 0 2.261.007 3.082.044.76.035 1.172.162 1.447.268.364.142.624.312.897.585.272.273.443.533.585.897.106.275.233.687.268 1.447.036.822.044 1.06.044 3.082 0 2.022-.007 2.261-.044 3.082-.035.76-.162 1.172-.268 1.447a2.417 2.417 0 0 1-.585.897 2.409 2.409 0 0 1-.897.585c-.275.106-.687.233-1.447.268-.822.036-1.06.044-3.082.044-2.022 0-2.261-.007-3.082-.044-.76-.035-1.172-.162-1.447-.268a2.427 2.427 0 0 1-.897-.585 2.427 2.427 0 0 1-.585-.897c-.106-.275-.233-.687-.268-1.447-.036-.822-.044-1.06-.044-3.082 0-2.022.007-2.261.044-3.082.035-.76.162-1.172.268-1.447.142-.364.312-.624.585-.897.273-.272.533-.443.897-.585.275-.106.687-.233 1.447-.268zm7.842 2.138a.946.946 0 1 0 0 1.892.946.946 0 0 0 0-1.892zm-3.328 1.477a4.007 4.007 0 1 0 0 8.014 4.007 4.007 0 0 0 0-8.014zm0 1.442a2.565 2.565 0 1 1 0 5.13 2.565 2.565 0 0 1 0-5.13z" />
            </svg>
            <span>@rizkyfp19</span>
        </a>
    </div>
    </div>
</section>