<div class="invitation-box">
    <div class="guest-section">
        <p class="dear">Dear,</p>
        <h2 class="guest-name">
            <%= guestName %>
        </h2>
        <p class="note">We apologize if there is any misspelling of name or title</p>
    </div>
    <button id="openBtn" class="open-btn">LET'S OPEN</button>
</div>