<div class="opened-content">
    <div class="scroll-wrapper">
        <div class="quote-section">
            <div class="image-container">
                <img src="/images/couple-scroll.jpg" alt="Grayscale Couple" class="quote-img">
            </div>

            <div class="quote-content">
                <p class="arabic-text">وَمِنْ اٰيٰتِهٖٓ اَنْ خَلَقَ لَكُمْ مِّنْ اَنْفُسِكُمْ اَزْوَاجًا لِّتَسْكُنُوْٓا
                    اِلَيْهَا وَجَعَلَ بَيْنَكُمْ مَّوَدَّةً وَّرَحْمَةً ۗاِنَّ فِيْ ذٰلِكَ لَاٰيٰتٍ لِّقَوْmٍ
                    yَّتَفَكَّرُوْنَ</p>
                <div class="quote-divider"></div>
                <p class="quote-translation">
                    "Dan di antara tanda-tanda (kebesaran)-Nya ialah Dia menciptakan pasangan-pasangan untukmu dari
                    jenismu sendiri, agar kamu cenderung dan merasa tenteram kepadanya, dan Dia menjadikan di antaramu
                    rasa kasih dan sayang."
                </p>
                <span class="quote-source soft-shadow">ECCLESIASTES 4:9-12 (Atau QS. AR-RUM: 21)</span>
            </div>
        </div>
    </div>
</div>