<!-- views/components/opened-content.ejs -->
<section class="opened-content-section">
    <!-- Kontainer Background -->
    <div class="opened-content-bg"></div>
    <div class="opened-content-overlay"></div>

    <div class="quote-wrapper">
        <div class="quote-section">
            <div class=quote-content taos:scale-[0.8] taos:opacity-0 duration-[800ms] delay-[200ms]
                data-taos-animation="true">
                <p class="quote-translation">
                    “And among His signs is that He created for you spouses from among yourselves so that you may find
                    tranquility in them; and He placed between you affection and mercy. Indeed, in that are signs for a
                    people who reflect.”
                </p>
                <span class="quote-source soft-shadow">Surat Ar-Rum: 21</span>
            </div>
        </div>
    </div>
</section>