<div class="wedding-header">
    <div class="header-content">
        <span class="label">THE WEDDING OF</span>
        <h1 class="couple-name">Rizky Ceria</h1>
        <p class="date">SATURDAY, 9TH DECEMBER 202X</p>
    </div>
</div>