<!-- views/components/welcome.ejs -->
<section class="welcome-hero">
    <!-- Layer Gambar 1 -->
    <div class="welcome-bg welcome-bg-1"></div>
    <!-- Layer Gambar 2 -->
    <div class="welcome-bg welcome-bg-2"></div>

    <!-- Overlay Gelap -->
    <div class="welcome-bg-overlay"></div>

    <div class="welcome-text-wrapper taos:translate-y-[100px] taos:opacity-0 duration-[1000ms]"
        data-taos-animation="true">
        <span class=" welcome-label">THE WEDDING OF</span>
        <h1 class="welcome-couple-name">Ceria & Rizky</h1>
        <p class="welcome-date">SATURDAY, 23rd May 2026</p>
    </div>
</section>